@font-face{
    src: url("Poppins-Bold.otf");
    font-family: Pop;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: rgb(250, 227, 200);
}
.section-1{
    background-image: url(Coffee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
    color: white;
}
.section-1-info{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.section-1-info img{
    margin-top: 10rem;
    filter: drop-shadow(5px 5px 10px black);
    width: 20rem;
    height: auto;
}
.section-1-info h1{
    font-family: Pop;
    font-size: 70px;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
}
.section-1-info p{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px black;
}
.but-1{
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 3rem;
    text-shadow: 3px 3px 10px black;
}
.but-2{
    background-color: tan;
    color: white;
    border: 2px solid tan;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 3rem;
    text-shadow: 3px 3px 25px black;
}
.inner-section-1{
    height: 80vh;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.inner-section-1 img:first-child{
    width: 400px;
}
.inner-section-1 img:last-child{
    transform: translate(-55%, 30%);
}
.section-2{
    display: flex;
}
.inner-section-2{
    margin: 5rem 0;
}
.inner-section-2 ul{
    list-style: none;
    padding-left: 20px;
}
.inner-section-2 li{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.inner-section-2 h1{
    margin-bottom: 1rem;
}
hr{
    width: 100px;
    border: 2px solid rgb(182, 146, 100);
}
.inner-section-2 h3{
    padding: 10px 0;
}
.text{
    width: 500px;
    text-align: justify;
}
.section-3{
    height: 90vh;
    width: 100%;
    background-image: url("pics/main\ pic.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-3-info{
    width: 40%;
    padding: 100px;
}
.section-3 h1{
    margin: 20px 0;
    text-shadow: 5px 5px 10px black;
}
.section-3 hr{
    width: 200px;
    margin: 20px 0;
}
.section-3 p{
    width: 80%;
    text-shadow: 3px 3px 10px black;
}
.section-3-info .but-2{
    margin: 20px 0;
    box-shadow: 3px 3px 10px black;
}
.section-3 img{
    filter: drop-shadow(5px 5px 10px black);
}